APP_ENV=development
APP_VERSION=0.1.0
DEBUG=false

DATABASE_HOST=postgres
DATABASE_NAME=v2marznet
DATABASE_USER=v2marznet
DATABASE_PASSWORD=CHANGE_THIS_DATABASE_PASSWORD
DATABASE_PORT=5432
DATABASE_SSL=false

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
BOT_USERNAME=
ADMIN_TELEGRAM_ID=

SECRET_KEY=GENERATE_RANDOM_64_CHAR_SECRET
