# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.*

# Virtual Environment
venv/
.venv/

# Node
node_modules/
dist/

# Logs
*.log

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml


